* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Britannic-Bold;
  src: url("Fonts/Britannic Bold Regular.ttf");
}

body {
  background-image: url("Images/Cat and Dog.jpg");
  background-size: cover;
  background-position: center;
  display: inline;
}

#logo {
  height: 80px;
  position: absolute;
  top: 10px;
}

header {
  width: inherit;
  display: inline;
}

header h1 {
  position: relative;
  text-align: center;
  top: 15px;
  font-size: 60px;
  font-family: "Britannic-Bold";
  color: white;
  text-shadow: 1px 0 10px  black;
}

/* Complementary text ˘˘˘˘˘˘ */

aside h2 {
  position: relative;
  right: 330px;
  top: 140px;
  font-family: "Britannic-Bold";
  font-size: 40px;
  color: white;
  text-align: center;
  text-shadow: 1px 0 10px  black;
}

/* Login Form ˘˘˘˘˘˘˘ */

#loginForm {
  color: white;
  height: 370px;
  width: 340px;
  background: transparent;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 10px black;
  position: relative;
  left: 870px;
  bottom: 190px;
  border-radius: 8px;
  padding: 25px;
  border: 2px solid white;
}

#loginForm h1 {
  font-size: 40px;
  font-family: "Britannic-Bold";
  color: white;
  text-align: center;
  position: relative;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.inputBox input {
  padding: 0 32px 0 15px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 40px;
  outline: none;
  background: transparent;
  color: white;
}

.inputBox input::placeholder {
  color: white;
}

.inputBox i {
  position: absolute;
  top: 16px;
  right: 13px;
  color: white;
  font-size: 18px;
}

#rememberMe {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 16px;
}

#rememberMe input {
  accent-color: white;
}

#rememberMe a {
  color: white;
  text-decoration: none;
}

#rememberMe a:hover {
  text-decoration: underline;
}

#loginForm button {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
  color: #2C3539;
  font-weight: 600;
  margin-top: 7px;
}

#registerLink {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

#registerLink a {
  color: white;
  text-decoration: none;
  font-weight: 550;
}

#registerLink a:hover {
  text-decoration: underline;
}