* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MAIN PAGE WITH ADS ˘˘˘˘˘˘˘˘˘˘ */

body {
  background: floralwhite;
  height: 100vh;
  overflow-x: hidden;
  width: 100vh;
}

#logo {
  width: 300px;
  position: relative;
  right: 100px;
}

header {
  background: white;
  width: 100%;
  height: 140px;
  border-bottom: 2px solid darkmagenta;
  position: fixed;
  top: 0px;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

  /* SearchBar form ˇˇˇˇˇˇ */

 #searchBarContainer {
  height: inherit;
  display: flex;
  align-items: center;
  width: 475px;
  position: relative;
  right: 90px;
}
  
#searchBar {
  width: 475px;
  height: 42px;
}

#searchBar input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid black;
  width: 400px;
  height: 42px;
  background: white;
  outline: none;
  float: left;
}

#searchBarSubmit {
  width: 75px;
  height: 42px;
  padding: 6px 10px 6px 10px;
  background: darkorchid;
  border: 1px solid black;
  border-left: none;
  cursor: pointer;
  float: right;
}

  #searchBar i {
  color: white;
  font-size: 27px;
}

  #searchBar button:hover {
  background: darkmagenta;
}

  #searchBar button:active {
  background: darkorchid;
}

#searchBar::after {
  content: "";
  clear: both;
  display: table;
}

/* Detail Search ˘˘˘˘˘˘ */

#detailSearch {
  width: 120px;
  font-size: 17px;
  color: darkmagenta;
  position: absolute;
  top: 95px;
}

#detailSearch:hover {
  text-decoration: underline;
  cursor: pointer;
}

  /* Create ad button ˇˇˇˇˇˇ */

#createAd {
  position: relative;
  right: 90px;
  width: 140px;
  height: 42px;
  background: darkorchid;
  border: 1px solid black;
}

#createAd a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

#createAd:hover {
  background: darkmagenta;
}

#createAd:active {
  background: darkorchid;
}

/* Menu and navigation ˘˘˘˘˘˘ */

#menu {
  position: fixed;
  left: 50px;
  width: 240px;
  height: 430px;
  background: transparent;
}

#menu table {
  table-layout: fixed;
  width: inherit;
  height: 350px;
  background: transparent;
}

#menu tr {
  height: 50px;
  width: inherit;
  background: white;
}

#menu th {
  border: 2px solid darkmagenta;
  font-size: 23px;
  color: darkmagenta;
}

#menu th:hover {
  cursor: pointer;
}

#menu img {
  height: 44px;
  float: left;
  margin: 3px 18px 3px 3px;
}

#menu img:hover {
  cursor: pointer;
}

#menu i {
  margin-right: 24px;
  margin-left: 7px;
  font-size: 35px;
  float: left;
  color: black;
  line-height: 49px;
}

#menu i:hover {
  cursor: pointer;
}

#menu p {
  float: left;
  line-height: 50px;
  width: inherit;
}

#menu p:hover {
  cursor: pointer;
}

#menu h2 {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
}

/* AD SECTION ˘˘˘˘˘˘ */

#container {
  width: fit-content;
  position: relative;
  display: grid;
  left: 410px;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 50px 150px 800px;
  background: white;
  padding: 10px 15px 1.5px 0;
  margin-top: 180px;
  box-shadow: darkmagenta 0px 0px 3px;
}

/* ADS POSITION ˇˇˇˇˇˇ */

/* Reviews container position ˇˇˇˇˇˇ */

#reviewsContainer1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 1.5px;
}

#reviewsContainer2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 1.5px;
}

#reviewsContainer3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 1.5px;
}

#reviewsContainer4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 1.5px;
}

/* Picture container position ˇˇˇˇˇˇ */

#pictureContainer1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1.5px;
}

#pictureContainer2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1.5px;
}

#pictureContainer3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1.5px;
}

#pictureContainer4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1.5px;
}

/* Information container position ˇˇˇˇˇˇ */

#informationContainer1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 1.5px;
}

#informationContainer2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 1.5px;
}

#informationContainer3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 1.5px;
}

#informationContainer4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 1.5px;
}

/* Likes and dislikes next to the pictures ˘˘˘˘˘˘ */

.reviewsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0;
}

.likes {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  color: darkgreen;
  font-weight: 600;
}

.dislikes {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  color: darkred;
  font-weight: 600;
}

/* Ad pictures ˘˘˘˘˘˘ */

.adPicture {
  max-width: 100%;
  max-height: 100%;
}

/* Ads Information section ˘˘˘˘˘˘ */

.informationSection {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.adInformationContainer {
  max-width: 150px;
  height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  font-size: 20px;
  font-weight: 600;
}

.adInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px;
  height: 65%;
  float: left;
  color: darkmagenta;
}

.adInformation i {
  color: black;
}

/* Ad names ˘˘˘˘˘˘ */

.adName {
  font-size: 30px;
  color: black;
  font-weight: 500;
  padding: 2px;
}

/* Ad comment */

.adComment {
  padding: 10px 15px 10px;
  border-radius: 3px;
  font-size: 18px;
  width: 650px;
  height: 135px;
  background: white;
  border: gray 1px solid;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Detail search section ˘˘˘˘˘˘ */

#detailSearchSection {
  background: white;
  width: 100vw;
  height: 200px;
  border-bottom: 2px solid darkmagenta;
  z-index: 3;
  position: fixed;
  border-right: none;
  top: 140px;
  display: none;
  padding-top: 15px;
}

#detailSearchForm {
  background: white;
  width: inherit;
  height: 120px;
  padding: 0 30px 0 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

#bodyCover {
  height: 100vh;
  width: 100vw;
  background: darkmagenta;
  opacity: 0.4;
  position: absolute;
  display: none;
  z-index: 2;
  top: 140px;
  left: 0;
}

/* Animal Kind form ˘˘˘˘˘˘ */

#animalKind-select {
  width: 210px;
  height: 50px;
  background: white;
  border: solid 2px darkmagenta;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 8px;
  cursor: pointer;
  position: relative;
}

#animalKind-text {
  font-size: 20px;
  color: darkmagenta;
  font-weight: 500;
}

#animalKindArrow {
  color: darkmagenta;
  font-weight: 600;
  font-size: 23px;
  transform: none;
  transition: 0.3s;
}

#animalKind-list {
  list-style: none;
  width: 210px;
  background: white;
  border: solid 2px darkmagenta;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  height: 150px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#animalKind-list li {
  height: 40px;
  width: 90%;
  font-size: 17px;
  border-radius: 3px;
  color: darkmagenta;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

#animalKind-list li:hover {
  background: lightpink;
}

#animalKind-list li i {
  height: 18px;
  width: 18px;
  border: 1px solid darkmagenta;
  font-weight: 600;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

#dsArrow {
  transition: 0.3s;
}

/* Price range form ˘˘˘˘˘˘ */

#priceRange {
  width: fit-content;
  height: fit-content;
  background: white;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-top: 30px;
}

#priceRangeInput {
  display: inline-flex;
  justify-content: space-between;
}

#priceRange input {
  height: 35px;
  width: 100px;
  border: 2px solid darkmagenta;
  font-weight: 600;
  border-radius: 3px;
  padding-left: 4px;
}

#priceRangeText {
  text-align: center;
  font-size: 20px;
  color: darkmagenta;
  font-weight: 500;
  padding-bottom: 20px;
}

.fwSlash {
  margin: 0 10px 0;
  text-align: center;
  font-size: 20px;
  color: darkmagenta;
  font-weight: 500;
}
/* Time range form ˘˘˘˘˘˘ */

#timeRange {
  width: fit-content;
  height: fit-content;
  background: white;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-top: 40px;
}

#timeRangeInput {
  display: inline-flex;
  justify-content: space-between;
}

#timeRange input {
  height: 35px;
  width: 100px;
  border: 2px solid darkmagenta;
  font-weight: 600;
  border-radius: 3px;
  padding-left: 4px;
}

#timeRangeText {
  text-align: center;
  font-size: 20px;
  color: darkmagenta;
  font-weight: 500;
  padding-bottom: 20px;
}

/* Place form ˘˘˘˘˘˘ */

#placeForm {
  border: solid 2px darkmagenta;
  border-radius: 4px;
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;
}

#placeText {
  font-size: 20px;
  color: darkmagenta;
  font-weight: 500;
}

#placeForm i {
  color: darkmagenta;
  font-weight: 600;
  font-size: 23px;
  transform: none;
  transition: 0.3s;
}



/* CREATE AD PAGE ˘˘˘˘˘˘˘˘˘˘ */

#createAdBody {  /* style for "Create Ad" body */
  background: floralwhite;
  height: 100vw;
  width: 100vw;
  position: fixed;
}

#createAdLogo {
  position: absolute;
  left: 1px;
  width: 300px;
}

header h1 {
  color: darkmagenta;
}

#createAdContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Detail information section ˘˘˘˘˘˘ */

#detailInformationContainer {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.detailInformationInput::placeholder {
  opacity: 1;
  font-weight: 500;
  font-size: 20px;
  font-weight: 500;
}

.detailInformationInput::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 500;
}

.detailInformationInput {
  padding-left: 8px;
  width: 210px;
  height: 50px;
  border: solid 2px darkmagenta;
  border-radius: 4px;
  outline: none;
  color: black;
  font-size: 20px;
}

/* Duration input ˘˘˘˘˘˘ */

#duration {
  padding-right: 55px;
}

#durationText {
  position: absolute;
  right: 675px;
  top: 38px;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

/* Price Input ˘˘˘˘˘˘ */

#price {
  padding-right: 35px;
}

#priceDollarSign {
  position: absolute;
  right: 365px;
  top: 39px;
  color: black;
  font-size: 30px;
  font-weight: 500;
}

/* Insert Picture Input */

#insertPictureContainer {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#insertPicture {
  background: white;
  height: 160px;
  width: 160px;
  border: solid 2px darkmagenta;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#insertPicture p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: gray;
}

/* Description Input */

#descriptionContainer {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

#descriptionContainer textarea {
  background: white;
  height: 160px;
  width: 470px;
  border: solid 2px darkmagenta;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  resize: none;
  color: black;
  padding: 4px;
}

#descriptionContainer textarea::placeholder {
  font-size: 20px;
  text-align: center;
  line-height: 7;
  font-weight: 500;
}

#descriptionContainer textarea::-ms-input-placeholder {
  font-size: 20px;
  text-align: center;
  line-height: 7;
  font-weight: 500;
}

/* Continue Button */

#continueButton {
  position: absolute;
  right: 230px;
  width: 100px;
  height: 50px;
  text-decoration: none;
  background: darkorchid;
  font-size: 19px;
  border: none;
}

#continueButton a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

#continueButton:hover {
  cursor: pointer;
  background: darkmagenta;
}

#continueButton:active {
  background: darkorchid;
}


/* AD PAGE ˘˘˘˘˘˘˘˘˘˘ */

#adContainer {
  position: relative;
  margin-top: 180px;
  left: 600px;
  display: grid;
  grid-template-rows: 250px 60px 190px;
  grid-template-columns: 250px 400px;
  grid-auto-columns: 0px;
  width: fit-content;
}

#item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 1.5px;
}

#item2 {
  background: blue;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1.5px;
}

#item3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 1.5px;
  display: flex;
  justify-content: space-around;
}

#item4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 1.5px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid black;
  height: min-content;
}

#adImage {
  max-height: 100%;
  max-width: 100%;
  display: absolute;
}

.miniProfilePicture {
  max-height: 100%;
  max-width: 100%;
}